<div class="container">
    <div class="starter-template">
        <h1>Ehlel</h1>
        <p class="lead">
            Ehlel is clothing brand of Guangzhou City in China and compnay name is Guangzhou Ehlel Trade LLC //广州市俄贺乐贸易有限公司/ We are trading our products to more than 192 countries, through the World Trade Alibaba.com.  Today we are prefer cheap price, high quality, culture and guaranteed service in the advanced society. If you choose our clothes you will get best service and superior satisfaction.
        </p>
        <a href="/session/new" class="btn btn-primary">Sign in</a>
        <a href="/user/new" class="btn btn-success">Sign Up</a>
    </div>
</div>
